################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/persona3fespcsx2/Release
/persona3fespcsx2/.vs
